---
import Link from "@components/ui/link.astro";
const courses = [
{
        name: "Emergência Climática",
        prof: "Carlos Milani, Bruna Bataglia e Diogo Ives",
        instituicao: "IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/emergencia-climatica",
    },
    {
        name: "Introdução à Ciência de Dados em Python",
        prof: "Matheus Pestana",
        instituicao: "ECMI/FGV",
        tipo: "Curso intensivo",
        link: "/cursos/introducao-ciencia-dados-python",
    },
    {
        name: "Políticas Públicas e Instituições",
        prof: "Celina Souza e Argelina Cheibub Figueiredo",
        instituicao: "UFBA e IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/politicas-publicas",
    },
    {
        name: "Introdução à Macroeconomia",
        prof: "Bianca Orsi",
        instituicao: "University of Leeds",
        tipo: "Workshop",
        link: "/cursos/introducao-macroeconomia",
    },
    {
        name: "Introdução à Análise de Dados em R",
        prof: "Quemuel Baruque",
        instituicao: "UFPE",
        tipo: "Curso intensivo",
        link: "/cursos/introducao-r",
    },
    {
        name: "Entrevistas e Trabalho de Campo",
        prof: "Eugênia Motta",
        instituicao: "IESP-UERJ e UFRJ",
        tipo: "Curso intensivo",
        link: "/cursos/entrevistas-trabalho-campo",
    },
    {
        name: "Ideologias políticas e pensamento brasileiro",
        prof: "Christian Lynch e Paulo Cassimiro",
        instituicao: "IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/ideologias-politicas",
    },
    {
        name: "Pesquisa de Survey",
        prof: "Verônica Toste",
        instituicao: "UFF",
        tipo: "Workshop",
        link: "/cursos/survey",
    },
    {
        name: "NVIVO: Análise Qualitativa Auxiliada por Computador",
        prof: "Alex Niche",
        instituicao: "UFRGS",
        tipo: "Curso intensivo",
        link: "/cursos/nvivo",
    },
    {
        name: "Construção de conceitos e de indicadores",
        prof: "Yago Paiva",
        instituicao: "IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/construcao-indicadores",
    },
    {
        name: "Política e internet",
        prof: "Amaro Grassi",
        instituicao: "ECMI/FGV",
        tipo: "Workshop",
        link: "/cursos/politica-internet",
    },
    {
        name: "Ferramentas de Inteligência Artificial para a pesquisa acadêmica",
        prof: "Rafael Sampaio",
        instituicao: "UFPR",
        tipo: "Workshop",
        link: "/cursos/ia-pesquisa",
    },
    {
        name: "Gênero, raça e sexualidade",
        prof: "Juliana Farias e Lorena Mochel",
        instituicao: "UERJ e UFRRJ",
        tipo: "Workshop",
        link: "/cursos/genero-raca-sexualidade",
    },
    {
        name: "Desigualdade de renda no Brasil",
        prof: "Pedro H. G. Ferreira de Souza",
        instituicao: "IPEA e IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/desigualdade-renda",
    },

];
---

<section class="container content-center w-4/5 md:w-3/4 mx-auto">
    <h2 class="text-4xl lg:text-5xl text-primary font-bold lg:tracking-tight mt-16 md:mt-20">
        Nossos cursos
    </h2>
    <p class="text-2xl mt-4 font-light text-[#333333]">
        Nesta 9º edição, a <span class="font-bold text-secondary">Escola</span> reforça sua marca ao oferecer dois grandes eixos de formação: treinamento intensivo em métodos quantitativos e qualitativos e workshops sobre teorias e conceitos. Confira alguns dos cursos que serão oferecidos este ano.</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-16">
        {courses.map((course) => (
            <a href={course.link} class="relative group">
                <div class="w-72 h-72 bg-white rounded-lg shadow-lg overflow-hidden group-hover:shadow-xl transition-shadow duration-300 mx-auto">
                    <div class="absolute inset-0 flex flex-col items-center justify-center">
                        <p class="text-md mt-4 mb-2 w-1/2 text-center text-primary font-light">
                            {course.tipo}
                        </p>
                        <h3 class="text-2xl w-2/3 my-auto text-center text-primary font-bold group-hover:text-secondary transition-colors duration-300">
                            {course.name}
                        </h3>
                        <p class="text-xl mt-4 w-2/3 my-2 text-center text-primary">
                            {course.prof}
                        </p>
                        <p class="text-md mb-4 w-2/3 my-0 text-center text-primary font-light">
                            {course.instituicao}
                        </p>
                    </div>
                </div>
            </a>
        ))}
    </div>
    <div class="mt-14 flex flex-col sm:flex-row gap-3 justify-center">
        <Link
          href="/cursos"
          class="flex gap-1 rounded-sm border-primary hover:border-secondary"
          rel="noopener">
           Veja mais
        </Link>
      </div>
</section>