---
import Link from "@components/ui/link.astro";
const courses = [
    {
        name: "NVIVO",
        prof: "Alex Niche",
        instituicao: "UFRGS",
        tipo: "Workshop",
        link: "/cursos/nvivo-analise-qualitativa",
    },
    {
        name: "Advanced Text-As-Data",
        prof: "Tiago Ventura e Sebastian Vallejo Vera",
        instituicao: "Georgetown University e University of Western Ontario",
        tipo: "Workshop",
        link: "/cursos/advanced-text-as-data",
    },
    {
        name: "Ferramentas de Inteligência Artificial para Pesquisa Acadêmica",
        prof: "Rafael Sampaio",
        instituicao: "UFPR",
        tipo: "Workshop",
        link: "/cursos/ferramentas-ia-pesquisa",
    },
    {
        name: "Ideologias Políticas. Teoria, método e fontes de pesquisa",
        prof: "Paulo Cassimiro",
        instituicao: "IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/ideologias-politicas",
    },
    {
        name: "Sociologia Crítica do Capitalismo",
        prof: "Guilherme Leite Gonçalves",
        instituicao: "IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/sociologia-critica-capitalismo",
    },
    {
        name: "Pesquisando arquivos nas Ciências Sociais",
        prof: "João Marcelo Ehlert Maia e Thiago Lopes",
        instituicao: "FGV e Fiocruz",
        tipo: "Workshop",
        link: "/cursos/pesquisando-arquivos-ciencias-sociais",
    },
    {
        name: "Elites Políticas: práticas e desafios das Entrevistas em Profundidade",
        prof: "Wescrey Portes Pereira",
        instituicao: "IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/elites-politicas-entrevistas",
    },
    {
        name: "LLMs e Inteligência Artificial",
        prof: "Eduardo Tamaki",
        instituicao: "Giga",
        tipo: "Workshop",
        link: "/cursos/llms-inteligencia-artificial",
    },
    {
        name: "Projetos urbanos e urbanismos no Brasil",
        prof: "Ana Clara Chequetti",
        instituicao: "IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/estudando-projetos-urbanos",
    },
    {
        name: "Regressão Linear",
        prof: "Natália Moreira",
        instituicao: "USP",
        tipo: "Workshop",
        link: "/cursos/regressao-linear",
    },
    {
        name: "Introdução ao Python para Ciência de Dados",
        prof: "Matheus Pestana",
        instituicao: "FGV ECMI",
        tipo: "Workshop",
        link: "/cursos/introducao-python-ciencia-dados",
    },
    {
        name: "Estratégias de monitoramento da disputa política nas redes sociais",
        prof: "Victor Piaia",
        instituicao: "FGV ECMI",
        tipo: "Workshop",
        link: "/cursos/monitoramento-redes-sociais",
    },
    {
        name: "Construção de conceitos e de indicadores",
        prof: "Yago Paiva",
        instituicao: "IESP-UERJ",
        tipo: "Workshop",
        link: "/cursos/construcao-indicadores",
    }
];
---

<section class="container content-center w-4/5 md:w-3/4 mx-auto">
    <h2 class="text-4xl lg:text-5xl text-primary font-bold lg:tracking-tight mt-16 md:mt-20">
        Nossos cursos
    </h2>
    <p class="text-2xl mt-4 font-light text-[#333333]">
        Nesta 10º edição, a <span class="font-bold text-secondary">Escola</span> reforça sua marca ao oferecer dois grandes eixos de formação: treinamento intensivo em métodos quantitativos e qualitativos e workshops sobre teorias e conceitos. Confira alguns dos cursos que serão oferecidos este ano.</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-16">
        {courses.map((course) => (
            <a href={course.link} class="relative group">
                <div class="w-72 h-72 bg-white rounded-lg shadow-lg overflow-hidden group-hover:shadow-xl transition-shadow duration-300 mx-auto">
                    <div class="absolute inset-0 flex flex-col items-center justify-center">
                        <p class="text-md mt-4 mb-2 w-1/2 text-center text-primary font-light">
                            {course.tipo}
                        </p>
                        <h3 class="text-2xl w-2/3 my-auto text-center text-primary font-bold group-hover:text-secondary transition-colors duration-300">
                            {course.name}
                        </h3>
                        <p class="text-xl mt-4 w-2/3 my-2 text-center text-primary">
                            {course.prof}
                        </p>
                        <p class="text-md mb-4 w-2/3 my-0 text-center text-primary font-light">
                            {course.instituicao}
                        </p>
                    </div>
                </div>
            </a>
        ))}
    </div>
    <div class="mt-14 flex flex-col sm:flex-row gap-3 justify-center">
        <Link
          href="/cursos"
          class="flex gap-1 rounded-sm border-primary hover:border-secondary"
          rel="noopener">
           Veja mais
        </Link>
      </div>
</section>